aiofiles==24.1.0
aiolimiter==1.2.1
annotated-types==0.6.0
anthropic==0.50.0
anyio==3.7.1
anytree==2.12.1
asttokens==2.4.1
autograd==1.7.0
azure-common==1.1.28
azure-core==1.32.0
azure-cosmos==4.9.0
azure-identity==1.20.0
azure-search-documents==11.5.2
azure-storage-blob==12.24.1
beartype==0.18.5
beautifulsoup4==4.12.2
blinker==1.7.0
blis==1.2.0
catalogue==2.0.10
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.21.0
confection==0.1.5
contourpy==1.2.1
cryptography==44.0.2
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
deprecation==2.1.0
devtools==0.12.2
distro==1.9.0
dnspython==1.16.0
environs==11.2.1
exceptiongroup==1.2.0
executing==2.2.0
faiss-cpu==1.7.4
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.13.1
firecrawl==1.14.1
Flask==2.2.5
Flask-Cors==3.0.10
fnllm==0.2.5
fonttools==4.50.0
fsspec==2023.12.2
future==1.0.0
gdeltdoc==1.5.0
gensim==4.3.3
graphrag==2.0.0
graspologic==3.4.1
graspologic-native==1.2.3
h11==0.14.0
httpcore==1.0.2
httpx==0.28.1
huggingface-hub==0.20.3
hyppo==0.4.0
idna==3.6
isodate==0.7.2
itsdangerous==2.1.2
jieba3k==0.35.1
Jinja2==3.1.3
jiter==0.8.2
joblib==1.4.2
json_repair==0.30.3
kiwisolver==1.4.5
lancedb==0.17.0
langcodes==3.5.0
language_data==1.3.0
llvmlite==0.44.0
lxml==5.1.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.26.1
matplotlib==3.10.1
mdurl==0.1.2
msal==1.31.1
msal-extensions==1.2.0
murmurhash==1.0.12
nest-asyncio==1.6.0
networkx==3.4.2
newsdataapi==0.1.23
newspaper3k==0.2.8
nltk==3.9.1
numba==0.61.0
numpy==1.26.4
openai==1.77.0
overrides==7.7.0
packaging==23.2
pandas==2.2.3
patsy==1.0.1
pillow==10.3.0
portalocker==2.10.1
POT==0.9.5
preshed==3.0.9
pyarrow==15.0.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyJWT==2.10.1
pylance==0.20.0
pymongo==3.12.0
pynndescent==0.5.13
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
regex==2023.12.25
requests==2.31.0
requests-file==2.1.0
rich==13.9.4
safetensors==0.4.2
scikit-learn==1.6.1
scipy==1.12.0
seaborn==0.13.2
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
statsmodels==0.14.4
tenacity==9.0.0
textblob==0.18.0.post0
thinc==8.3.4
threadpoolctl==3.5.0
tiktoken==0.8.0
tinysegmenter==0.3
tldextract==5.1.3
tokenizers==0.13.3
tqdm==4.67.1
transformers==4.32.1
typer==0.15.2
typing_extensions==4.12.2
tzdata==2024.1
umap-learn==0.5.7
urllib3==2.1.0
wasabi==1.1.3
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.0.1
wrapt==1.17.2
gunicorn==20.2.0
