basic_search:
  chat_model_id: default_chat_model
  embedding_model_id: default_embedding_model
  prompt: prompts/basic_search_system_prompt.txt
cache:
  base_dir: cache_default
  type: file
chunks:
  group_by_columns:
  - id
  overlap: 100
  size: 1200
cluster_graph:
  max_cluster_size: 10
community_reports:
  graph_prompt: prompts/community_report_graph.txt
  max_input_length: 8000
  max_length: 2000
  model_id: default_chat_model
  text_prompt: prompts/community_report_text.txt
drift_search:
  chat_model_id: default_chat_model
  embedding_model_id: default_embedding_model
  prompt: prompts/drift_search_system_prompt.txt
  reduce_prompt: prompts/drift_search_reduce_prompt.txt
embed_graph:
  enabled: true
embed_text:
  model_id: default_embedding_model
  vector_store_id: default_vector_store
extract_claims:
  description: Any claims or facts that could be relevant to information discovery.
  enabled: false
  max_gleanings: 1
  model_id: default_chat_model
  prompt: prompts/extract_claims.txt
extract_graph:
  entity_types:
  - organization
  - person
  - geo
  - event
  max_gleanings: 1
  model_id: default_chat_model
  prompt: prompts/extract_graph.txt
extract_graph_nlp:
  text_analyzer:
    extractor_type: regex_english
global_search:
  chat_model_id: default_chat_model
  knowledge_prompt: prompts/global_search_knowledge_system_prompt.txt
  map_prompt: prompts/global_search_map_system_prompt.txt
  reduce_prompt: prompts/global_search_reduce_system_prompt.txt
input:
  base_dir: AI_safety_input
  file_encoding: utf-8
  file_pattern: .*\.txt$$
  file_type: text
  type: file
local_search:
  chat_model_id: default_chat_model
  embedding_model_id: default_embedding_model
  prompt: prompts/local_search_system_prompt.txt
models:
  default_chat_model:
    api_key: ${GRAPHRAG_API_KEY}
    async_mode: threaded
    auth_type: api_key
    concurrent_requests: 25
    max_retries: -1
    model: gpt-4-turbo-preview
    model_supports_json: true
    requests_per_minute: 0
    retry_strategy: native
    tokens_per_minute: 0
    type: openai_chat
  default_embedding_model:
    api_key: ${GRAPHRAG_API_KEY}
    async_mode: threaded
    auth_type: api_key
    concurrent_requests: 25
    max_retries: -1
    model: text-embedding-3-small
    model_supports_json: true
    requests_per_minute: 0
    retry_strategy: native
    tokens_per_minute: 0
    type: openai_embedding
output:
  base_dir: AI_safety_output
  type: file
reporting:
  base_dir: logs_default
  type: file
snapshots:
  embeddings: false
  graphml: false
summarize_descriptions:
  max_length: 500
  model_id: default_chat_model
  prompt: prompts/summarize_descriptions.txt
umap:
  enabled: true
vector_store:
  default_vector_store:
    container_name: default
    db_uri: output/lancedb
    overwrite: true
    type: lancedb
