@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-roman.var.woff2?v=3.15') format('woff2 supports variations'),
       url('https://rsms.me/inter/font-files/Inter-roman.var.woff?v=3.15') format('woff supports variations'),
       url('https://rsms.me/inter/font-files/Inter-roman.var.ttf?v=3.15') format('truetype supports variations');
}

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Prune';
  src: url('/fonts/Prune-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenue';
  src: url('/fonts/AvenueMono-Regular.ttf') format('truetype'),
       url('/fonts/AvenueMono-Regular.woff') format('woff'),
       url('/fonts/AvenueMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Office';
  src: url('/fonts/OfficeTimesRound-Regular.ttf') format('truetype'),
       url('/fonts/OfficeTimesRound-Regular.woff') format('woff'),
       url('/fonts/OfficeTimesRound-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BL Arctic';
  src: url('/fonts/BL Arctic X.otf') format('truetype'),
       url('/fonts/BLArctic-Regular.woff') format('woff'),
       url('/fonts/BLArctic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('/fonts/BLCereal-Regular.otf') format('opentype'),
       url('/fonts/BLCereal-Regular.otf.woff') format('woff'),
       url('/fonts/BLCereal-Regular.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Bold';
  src: url('/fonts/Panamera-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Regular';
  src: url('/fonts/Panamera-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Light';
  src: url('/fonts/Panamera-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik-Regular';
  src: url('/fonts/Karrik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik-Italic';
  src: url('/fonts/Karrik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.karrik-regular {
  font-family: 'Karrik-Regular', sans-serif;
}

.karrik-italic {
  font-family: 'Karrik-Italic', sans-serif;
  font-style: italic;
}

.font-panamera {
  font-family: 'Panamera-Regular', sans-serif;
}

.font-inria{
  font-family: 'Inria Sans', sans-serif;
}

.font-avenue {
  font-family: 'Avenue', monospace;
}

/* body {
  font-family: 'Avenue', monospace;
} */

.font-sometimes {
  font-family: 'SometimesTimesTRIAL', serif;
}
.font-cereal{
  font-family: 'Cereal', sans-serif;
}

.font-office{
  font-family: 'Office', sans-serif;
}

.font-prune{
  font-family: 'Prine', sans-serif;
}

.selected {
  box-shadow: 0 0 0 6px rgba(91,160,169, 0.8);
  outline: 2px solid orangered;
  outline-offset: 4px;
  border-radius: 2px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
