@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-roman.var.woff2?v=3.15') format('woff2 supports variations'),
       url('https://rsms.me/inter/font-files/Inter-roman.var.woff?v=3.15') format('woff supports variations'),
       url('https://rsms.me/inter/font-files/Inter-roman.var.ttf?v=3.15') format('truetype supports variations');
}

:root {
  font-family: 'Street 2', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Street 2', sans-serif;
  }
}

.font-street2 {
  font-family: 'Street 2', sans-serif;
}

@font-face {
  font-family: 'Prune';
  src: url('/fonts/Prune-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenue';
  src: url('/fonts/AvenueMono-Regular.ttf') format('truetype'),
       url('/fonts/AvenueMono-Regular.woff') format('woff'),
       url('/fonts/AvenueMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Office';
  src: url('/fonts/OfficeTimesRound-Regular.ttf') format('truetype'),
       url('/fonts/OfficeTimesRound-Regular.woff') format('woff'),
       url('/fonts/OfficeTimesRound-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BL Arctic';
  src: url('/fonts/BL Arctic X.otf') format('truetype'),
       url('/fonts/BLArctic-Regular.woff') format('woff'),
       url('/fonts/BLArctic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cereal';
  src: url('/fonts/BLCereal-Regular.otf') format('opentype'),
       url('/fonts/BLCereal-Regular.otf.woff') format('woff'),
       url('/fonts/BLCereal-Regular.otf.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SometimesTimesTRIAL";
  src: url("/fonts/SometimesTimesTRIAL-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Inria Sans';
  src: url('/fonts/InriaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Bold';
  src: url('/fonts/Panamera-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Regular';
  src: url('/fonts/Panamera-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panamera-Light';
  src: url('/fonts/Panamera-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik-Regular';
  src: url('/fonts/Karrik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karrik-Italic';
  src: url('/fonts/Karrik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-BoldItalic.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-Book.otf') format('opentype');
  font-weight: 400; /* Book - Assuming as Normal */
  font-style: normal;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-BookItalic.otf') format('opentype');
  font-weight: 400; /* Book - Assuming as Normal */
  font-style: italic;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-MediumItalic.otf') format('opentype');
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-Thin.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Street 2';
  src: url('/fonts/Street2-ThinItalic.otf') format('opentype');
  font-weight: 100; /* Thin */
  font-style: italic;
}

.karrik-regular {
  font-family: 'Karrik-Regular', sans-serif;
}

.karrik-italic {
  font-family: 'Karrik-Italic', sans-serif;
  font-style: italic;
}

.font-panamera {
  font-family: 'Panamera-Regular', sans-serif;
}

.font-inria{
  font-family: 'Inria Sans', sans-serif;
}

.font-avenue {
  font-family: 'Avenue', monospace;
}

/* body {
  font-family: 'Avenue', monospace;
} */

.font-sometimes {
  font-family: 'SometimesTimesTRIAL', serif;
}
.font-cereal{
  font-family: 'Cereal', sans-serif;
}

.font-office{
  font-family: 'Office', sans-serif;
}

.font-prune{
  font-family: 'Prine', sans-serif;
}

.selected {
  box-shadow: 0 0 0 6px rgba(91,160,169, 0.8);
  outline: 2px solid orangered;
  outline-offset: 4px;
  border-radius: 2px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
